[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "fontBitstreamVera"]
	path = fontBitstreamVera
	url = https://github.com/lionel-/fontbitstreamvera
[submodule "fontLiberation"]
	path = fontLiberation
	url = https://github.com/lionel-/fontliberation
[submodule "fontquiver"]
	path = fontquiver
	url = https://github.com/lionel-/fontquiver
[submodule "ggstance"]
	path = ggstance
	url = https://github.com/lionel-/ggstance
